QMainWindow {
    background-color: #2b2b2b;
}

QLabel {
    color: white;
    font-size: 11pt;
}

QLineEdit, QSpinBox, QComboBox {
    background-color: white;
    color: black;
    padding: 6px;
    border-radius: 6px;
}

QPushButton {
    background-color: #5a8dee;
    color: white;
    padding: 6px;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #3c6dd9;
}

QToolBar {
    background-color: #1f1f1f;
    spacing: 10px;
}


